<h1>Taskmaster:</h1>
  <div class="container">
    <ul>
      <% @tasks.each do |task| %>
        <div class="card" style="width: 18rem;">
          <%= link_to task.title, task_path(task) %>
          <p class="details"><%= task.details %></p>
          <input class="checkbox" type="checkbox"><%= task.completed %></p>

        </div>
    <% end %>
    </ul>
    <%= link_to "Add a new task", new_path %>

  </div>
</div>
